! =====================================================================
! CONFIGURACIÓN COMPARTIDA (Aplica a xterm y urxvt)
! =====================================================================
! Definición de la fuente tipográfica
URxvt.font: xft:Monospace:size=12

! Historial de comandos en caché
*.saveLines: 5000

! Esquema de colores (Fondo oscuro, texto gris claro)
URxvt.foreground: #BABABA
URxvt.background: #1C1C1C
URxvt.cursorColor: #FFFFFF

! =====================================================================
! AJUSTES ESPECÍFICOS PARA XTERM
! =====================================================================
xterm*termName: xterm-256color
xterm*locale: true
xterm*scrollbar: false
xterm*selectToClipboard: true
xterm*faceName: Monospace:size=12

Xcursor.size: 16
Xcursor.theme: default

